<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FlowerLover{% endblock %}</title>
    <!-- Подключаем Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключаем пользовательские стили -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="{% static 'business_app/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <!-- Header -->
        <header class="header d-flex align-items-center">
            <img src="{% static 'business_app/images/logo_green.png' %}" alt="Logo">
            <div class="site-title">FlowerLover</div>

            <!-- Навигация, в зависимости от состояния аутентификации пользователя -->
            <nav class="navigation">
                {% if user.is_authenticated %}
                    {% if is_customer %}
                        <a href="{% url 'purchase' %}" class="nav-button">Мои покупки</a>
                    {% elif is_salesman %}
                        <a href="{% url 'sale' %}" class="nav-button">Мои продажи</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="nav-button">Профиль</a>
                    <a href="{% url 'logout' %}" class="nav-button">Выход</a>
                {% else %}
                    <a href="{% url 'authorization' %}" class="nav-button">Вход</a>
                {% endif %}
            </nav>

        </header>



        <!-- Main Content -->
        <div class="container mt-4 mb-5">
            {% block content %}
            <!-- Page content goes here -->
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="contacts">
          <p>Телефон: +1234567890</p>
          <p>Email: example@example.com</p>
        </div>
<!--        <div class="social-icons">-->
<!--          <a href="https://t.me/your_bot" target="_blank">-->
<!--            <img src="{% static 'business_app/images/telegram-icon.png' %}" alt="Telegram" width="24" height="24">-->
<!--            <span>Для клиентов работает телеграм-бот</span>-->
<!--          </a>-->
<!--          <a href="https://www.linkedin.com/in/yourprofile" target="_blank">-->
<!--            <img src="{% static 'business_app/images/linkedin-icon.png' %}" alt="LinkedIn" width="24" height="24">-->
<!--          </a>-->
<!--          <a href="https://www.facebook.com/yourpage" target="_blank">-->
<!--            <img src="{% static 'business_app/images/facebook-icon.png' %}" alt="Facebook" width="24" height="24">-->
<!--          </a>-->
<!--          <a href="https://www.instagram.com/yourprofile" target="_blank">-->
<!--            <img src="{% static 'business_app/images/instagram-icon.png' %}" alt="Instagram" width="24" height="24">-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>