{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex">
    <!-- Навигационная панель -->
    <nav class="nav flex-column mr-4">
        <button type="submit" class="nav-button mb-2">Оформить заказ</button>
        <a href="#" id="clear-cart" class="nav-button mb-2">Сбросить всё</a>
        <a href="{% url 'main_page' %}" class="nav-button">Добавить товар</a>
    </nav>

    <!-- Основной контент -->
    <div class="content ml-4" style="flex: 1;">
        <h4 class="mb-4">Форма заказа</h4>
        <form method="post" class="mb-4">
            {% csrf_token %}

            <h5 class="mb-3">Ваши товары:</h5>
            <ul id="order_items" class="list-group mb-4">
            {% for item in products_with_quantities %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.product.name }} -
                    <input type="number" class="quantity-input form-control w-25 d-inline" name="quantity_{{ item.product.id }}" value="{{ item.quantity }}" min="0"> шт.
                    <a href="#" class="remove-item btn btn-link text-danger" data-item-id="{{ item.product.id }}">Удалить</a>
                </li>
            {% endfor %}
            </ul>
            <h5 class="cart-summary">Итог: <span id="total-price">{{ total_price }}</span></h5>
            <pre>{{ products_with_quantities|pprint }}</pre>

            <h5 class="mb-3 mt-4">Информация о заказе:</h5>
                <div class="form-group">
                    <label for="phone">Телефон получателя</label>
                    <input type="text" id="phone" class="form-control" name="phone" value="{{ form.phone.value|default_if_none:'' }}" placeholder="+7(123)456-7890" maxlength="15">
                </div>
                <div class="form-group">
                    <label for="address">Адрес получателя</label>
                    <input type="text" id="address" class="form-control" name="address" value="{{ form.address.value|default_if_none:'' }}" placeholder="Москва, Красная пл., д.1, п.1, кв.111">
                </div>
                <div class="form-group">
                    <label for="comment">Комментарий</label>
                    <textarea id="comment" class="form-control wide-input" name="comment" placeholder="Комментарий для продавца, курьера или получателя">{{ form.comment.value|default_if_none:'' }}</textarea>
                </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    // Удалить элемент из корзины
    $('.remove-item').click(function (event) {
        event.preventDefault();
        var itemId = $(this).data('item-id');
        var itemElement = $(this).closest('.list-group-item');

        $.ajax({
            url: '{% url "update_cart" %}',
            method: 'POST',
            data: {
                action: 'remove',
                product_id: itemId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                itemElement.remove();
                $('#total-price').text(response.new_total_price);
            }
        });
    });

        // Очистить корзину
    $('#clear-cart').click(function (event) {
        event.preventDefault();

        $.ajax({
            url: '{% url "update_cart" %}', // Убедитесь, что этот URL существует и настроен
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                $('#order_items').empty(); // Очистить список товаров
                $('#total-price').text('0'); // Обнулить итоговую сумму
            }
        });
    });

        // Изменить количество товара
        $('.quantity-input').change(function () {
            var itemId = $(this).closest('.list-group-item').find('.remove-item').data('item-id');
            var newQuantity = $(this).val();

            // Проверка, является ли новое количество числом
            if (!$.isNumeric(newQuantity) || newQuantity <= 0) {
                alert('Введите корректное количество.');
                return;
            }

            $.ajax({
                url: '{% url "update_cart" %}',
                method: 'POST',
                data: {
                    action: 'update_quantity',
                    product_id: itemId,
                    quantity: newQuantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                // Обновить итоговую сумму
                    $('#total-price').text(response.new_total_price);
                },
                error: function() {
                    alert('Произошла ошибка при обновлении количества товара.');
                }
            });
        });
    });
</script>
{% endblock %}