{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if message %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% if not user.is_authenticated %}
            <a href="{% url 'authorization' %}" class="btn btn-primary">Перейти к авторизации</a>
        {% endif %}
    {% else %}

        <h2>Ваши покупки</h2>
        {% for item in order.items.all %}
            <p>{{ item.quantity }} x {{ item.product.name }} @ {{ item.price }}</p>
        {% endfor %}
    <p>Итоговая сумма: {{ order.total_amount }}</p>

    {% endif %}

{% endblock %}
