{% extends "base.html" %}
{% load static %}

{% block content %}
<!--  {% if user.is_authenticated and is_customer %}-->
    <div class="container">

      <!-- Боковая навигационная панель -->
      <div class="sidebar">
        <a href="{% url 'cart_detail' %}">Корзина</a>
        <a href="{% url 'review' %}">Отзывы</a>
      </div>

      <!-- Основное содержимое страницы -->
      <div class="main-content">
            <h2>Текущие заказы</h2>

            {% if current_orders %}
              {% for order in current_orders %}
                  <div class="order">
                      <p>Заказ №{{ order.id }} - Статус: {{ order.get_status_display }}</p>
                      <p>Продукты:</p>
                      <ul>
                          {% for item in order.orderitem_set.all %}
                              <li>{{ item.product.name }} - {{ item.quantity }}</li>
                          {% endfor %}
                      </ul>
                      {% if order.status == STATUS_CONFIRMED or order.status == STATUS_PENDING %}
                          <form method="post" action="{% url 'edit_order' order.id %}">
                              {% csrf_token %}
                              <button type="submit" name="edit">Изменить</button>
                          </form>
                          <form method="post" action="{% url 'cancel_order' order.id %}">
                              {% csrf_token %}
                              <button type="submit" name="cancel">Отменить</button>
                          </form>
                      {% endif %}
                  </div>
              {% endfor %}
          {% endif %}
            {% else %}
                <p>У вас нет текущих заказов.</p>
            {% endif %}

            <h2>История заказов</h2>

            {% if historical_orders %}
                {% for order in historical_orders %}
                    <div class="order">
                        <p>Заказ №{{ order.id }} - Статус: {{ order.get_status_display }}</p>
                        <p>Продукты:</p>
                        <ul>
                            {% for item in order.orderitem_set.all %}
                                <li>{{ item.product.name }} - {{ item.quantity }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <p>У вас нет завершенных или отмененных заказов.</p>
            {% endif %}
        </div>
    </div>

    <script>
      window.location.href = "{% url 'page_errors' %}";
    </script>

{% endblock %}